@mixin flexSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexEven {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin  divCenter {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}